// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Hedra from "../../../index.js";

export declare namespace ChatClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ChatClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ChatClient.Options>;

    constructor(options: ChatClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * OpenAI-compatible chat completions. Errors use the OpenAI error body, not the v3 envelope. An empty API wallet answers 402 (deliberate divergence from OpenAI's 429 `insufficient_quota`: retrying cannot fix an empty wallet).
     *
     * @param {ChatClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Hedra.BadRequestError}
     * @throws {@link Hedra.UnauthorizedError}
     * @throws {@link Hedra.PaymentRequiredError}
     * @throws {@link Hedra.ForbiddenError}
     * @throws {@link Hedra.NotFoundError}
     * @throws {@link Hedra.TooManyRequestsError}
     * @throws {@link Hedra.InternalServerError}
     * @throws {@link Hedra.BadGatewayError}
     * @throws {@link Hedra.ServiceUnavailableError}
     * @throws {@link Hedra.GatewayTimeoutError}
     * @throws {@link errors.HedraError}
     * @throws {@link errors.HedraTimeoutError}
     *
     * @example
     *     await client.chat.completionsCreate()
     */
    public completionsCreate(requestOptions?: ChatClient.RequestOptions): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__completionsCreate(requestOptions));
    }

    private async __completionsCreate(
        requestOptions?: ChatClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Hedra-Spec-Version": requestOptions?.specVersion ?? "3.13.0" }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.HedraEnvironment.Production,
                "chat/completions",
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Hedra.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Hedra.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Hedra.PaymentRequiredError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Hedra.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Hedra.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Hedra.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Hedra.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 502:
                    throw new Hedra.BadGatewayError(
                        _response.error.body as Hedra.OpenAiErrorResponse,
                        _response.rawResponse,
                    );
                case 503:
                    throw new Hedra.ServiceUnavailableError(
                        _response.error.body as Hedra.OpenAiErrorResponse,
                        _response.rawResponse,
                    );
                case 504:
                    throw new Hedra.GatewayTimeoutError(
                        _response.error.body as Hedra.OpenAiErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.HedraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/chat/completions");
    }

    /**
     * OpenAI-compatible model list for the chat surface: exactly `{"object": "list", "data": [...]}` with additive extension fields per model. The published rate card here is the pricing reference for chat completions.
     *
     * @param {ChatClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Hedra.BadRequestError}
     * @throws {@link Hedra.NotFoundError}
     * @throws {@link Hedra.InternalServerError}
     * @throws {@link errors.HedraError}
     * @throws {@link errors.HedraTimeoutError}
     *
     * @example
     *     await client.chat.llmsList()
     */
    public llmsList(requestOptions?: ChatClient.RequestOptions): core.HttpResponsePromise<Hedra.LlmModelList> {
        return core.HttpResponsePromise.fromPromise(this.__llmsList(requestOptions));
    }

    private async __llmsList(
        requestOptions?: ChatClient.RequestOptions,
    ): Promise<core.WithRawResponse<Hedra.LlmModelList>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Hedra-Spec-Version": requestOptions?.specVersion ?? "3.13.0" }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.HedraEnvironment.Production,
                "llms",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Hedra.LlmModelList, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Hedra.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Hedra.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Hedra.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.HedraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/llms");
    }

    /**
     * A single OpenAI-shaped model object with additive extensions.
     *
     * @param {string} model
     * @param {Hedra.LlmsGetRequest} request
     * @param {ChatClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Hedra.BadRequestError}
     * @throws {@link Hedra.NotFoundError}
     * @throws {@link Hedra.InternalServerError}
     * @throws {@link errors.HedraError}
     * @throws {@link errors.HedraTimeoutError}
     *
     * @example
     *     await client.chat.llmsGet("model")
     */
    public llmsGet(
        model: string,
        request: Hedra.LlmsGetRequest = {},
        requestOptions?: ChatClient.RequestOptions,
    ): core.HttpResponsePromise<Hedra.LlmModelObject> {
        return core.HttpResponsePromise.fromPromise(this.__llmsGet(model, request, requestOptions));
    }

    private async __llmsGet(
        model: string,
        _request: Hedra.LlmsGetRequest = {},
        requestOptions?: ChatClient.RequestOptions,
    ): Promise<core.WithRawResponse<Hedra.LlmModelObject>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Hedra-Spec-Version": requestOptions?.specVersion ?? "3.13.0" }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.HedraEnvironment.Production,
                `llms/${core.url.encodePathParam(model)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Hedra.LlmModelObject, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Hedra.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Hedra.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Hedra.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.HedraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/llms/{model}");
    }
}
